# Credenciales de base de datos
DB_HOST=localhost
DB_NAME=megared
DB_USER=usuario
DB_PASS=contraseña
DB_PORT=3306

# Configuración de la aplicación
APP_URL=http://localhost:8080

# Configuración de puertos para Docker
WEB_PORT=8080
PHPMYADMIN_PORT=8081